@()
@main("Favorite Titles") {
    @rateit()
    @jsimport("ratings.js")
    <div id="ratingsDiv"></div>

    <script id="ratingsTemplate" type="text/x-handlebars-template">
        <ul class="list-group">
          {{#each titlesWithRatings}}
            <li class="list-group-item">
                <div class="rateit" data-rateit-value="{{rating.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                <a href="/titles/{{title.id}}">{{title.title}}</a>
            </li>
          {{/each}}
        </ul>
    </script>
}
